SAPIO_URL_BASE=https://sapio.example.com
SAPIO_APP_KEY=00000000-0000-0000-0000-000000000000
SAPIO_USERNAME=your_username_here
SAPIO_PASSWORD=your_password_here
MIK_DELIVERY_DIR=/boston/runScratch/OUS-filsluse/UL-AMG-MiSeq/MIK/Til_Sentrallagring/prod
IMM_DELIVERY_DIR=/boston/runScratch/OUS-filsluse/UL-AMG-MiSeq/IMM/Til_Sentrallagring/prod
NSC_DELIVERY_DIR=/boston/nsc/demultiplexed/delivery
NSC_DEMULTIPLEXED_DIR=/boston/nsc/demultiplexed
RUN_FOLDER_ROOT=/boston/nsc/runs
NEXTFLOW=nextflow
NEXTFLOW_PROFILE="test"
PASSWORD_TOOL=/data/runScratch.boston/scripts/getPassword.sh
