params {
    pipeline_version = "3.0"
    containerdir = "/data/runScratch.boston/analysis/pipelines/container-images/"
    deliverydir = "/data/runScratch.boston/demultiplexed/delivery"
    passwordTool = "/data/runScratch.boston/scripts/getPassword.sh"

    enableSuprdupr = true
    enableFastQC = true

    // Placeholder defaults - should be set when running the pipeline
    runId = "DUMMY_RUN"
    sapioRunFile = "/data/runScratch.boston/demultiplexed/DUMMY_RUN/NscSapioInfo.yaml"
    bclConvertFastqDir = "/data/runScratch.boston/demultiplexed/DUMMY_RUN/Analysis/1/BCLConvert/fastq"
    outdir = "output"
}

process {
    cpus = 1
    memory = 8.GB
   
    withName:SUPRDUPR {
        cpus = 2
        memory = 16.GB
    }
    withName:MULTIQC {
        memory = 32.GB
    }
}

docker {
    enabled = true // Docker is enabled by default, for development.
                   // nsc_cluster profile changes it to Singularity
}

profiles {
    nsc_cluster {
        process {
            executor = "slurm"
            clusterOptions = "--qos high"
        }

        executor {
            queueSize = 500
        }

        singularity {
            enabled = true
            autoMounts = true
        }
        
        cleanup = true
    }
}

report {
    enabled = true
    overwrite = true
    file = "$params.outdir/nextflow_reports/nextflow_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "$params.outdir/nextflow_reports/nextflow_timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "$params.outdir/nextflow_reports/nextflow_flowchart.html"
}

