params {
    pipeline_version = "3.0"
    reportdir = "$launchDir/90_reports/"
    containerdir = "/data/runScratch.boston/analysis/pipelines/container-images/"
    deliverydir = "/data/runScratch.boston/demultiplexed/delivery"
    passwordTool = "/data/runScratch.boston/scripts/getPassword.sh"

    enableSuprdupr = true
    enableFastQC = true
}

process {
    cpus = 1
    memory = '8 GB'
   
    withName:SUPRDUPR {
        cpus = 2
        memory = '16 GB'
    }
    withName:MULTIQC {
        memory = '32 GB'
    }
    withName:PROJECT_CREDENTIALS {
        container = null
    }
}

profiles {
    nsc_cluster {
        process {
            executor = "slurm"
            clusterOptions = "--qos high"
        }

        executor {
            queueSize = 500
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = "-B ./.singularity-tmp:/tmp:rw"
        }
    }
}

report {
    enabled = true
    overwrite = true
    file = "$params.reportdir/nextflow_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "$params.reportdir/nextflow_timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "$params.reportdir/nextflow_flowchart.html"
}

cleanup = true
