params {
    pipeline_version = "3.0"

    // Placeholder defaults - should be set when running the pipeline
    bclConvertFastqDir = "/data/runScratch.boston/demultiplexed/DUMMY_RUN/Analysis/1/BCLConvert/fastq"
    outdir = "output"   // Location of root folder in which to create run-level directories to hold linked (copied) fastq files and reports
                        // For testing, <repo>/output is excluded from git
                        // In production runScratch/demultiplexed
    runFolder = "/data/runScratch.boston/demultiplexed/DUMMY_RUN"

    // Config options - to be overridden in production usage
    passwordTool = "dummy-password-tool.sh"
    deliveryDir = "output/delivery"

    // Optional config options
    fallbackDeliveryMethod = "User HDD"
    enableSuprdupr = true
    enableFastQC = true
}

process {
    cpus = 1
    memory = 4.GB
   
    withName:"SUPRDUPR|FASTQC" {
        cpus = 2
        memory = 16.GB
    }
    withName:MULTIQC {
        memory = 32.GB
    }
}

docker {
    enabled = true // Docker is enabled by default, for development.
                   // nsc_cluster profile changes it to Singularity
}

profiles {
    nsc_cluster {
        params {
            passwordTool = "/data/runScratch.boston/scripts/getPassword.sh"
            deliveryDir = "/data/runScratch.boston/demultiplexed/delivery"
        }

        process {
            executor = "slurm"
            clusterOptions = "--qos high"

            withName:"CAT_MD5SUM|LINK_FOLDER|RENAME_AND_SAVE_FASTQS" {
                // Trivial jobs run locally to avoid slurm overhead
                executor = "local"
            }
        }

        executor {
            queueSize = 500
        }

        singularity {
            enabled = true
            autoMounts = true
        }
        
        cleanup = true
    }
}
